.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;

    margin-top: 3em;

    .small-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-duration: .7s;
        position: relative;

        &:nth-of-type(2) {
            animation-duration: .8s;
        }

        &:nth-of-type(3) {
            animation-duration: .9s;
        }

        box-shadow: 0 0 1em lighten($almost-black, 19%);

        width: 20em;
        height: 15em;
        background-color: $small-box;
        margin-bottom: 3em;

        .icon {
            text-align: center;
            margin-top: -1.2em;
            background-color: $bg-color;
            border-radius: 50%;
            width: 2.5em;
            height: 2.5em;
        }

        i {
            font-size: 2.57em;
            color: rgb(202, 202, 202);
            text-shadow: 0 0 .4em darken($almost-black, 5%);
        }

        h1 {
            font-size: 1.1em;
            color: $yellow;
            font-weight: 500;
            
            margin-top: 1.1em ;
        }

        p {
            color: $white;
            
            font-weight: 300;
            text-align: center;
            padding: 2em;
            font-size: .85em;
        }

    }

    .small-box:nth-child(3) {
        img {
            width: 10%;
        }
    }
}
