.contacts {
    background: $bg-color;
    width: 100%;

    // background-image: url("/assets/img/big-logo.svg");
    // background-size: 100.5% ;
    // background-repeat: no-repeat;
    // position: center 0px;
    // background-position-x: -55em;
    // background-position-y: -55em;

    h1 {
        color: $yellow;
        font-weight: 600;
        // text-transform: uppercase;
        font-size: 1.6em;

        margin-top: 3em;
    }

    .flex-container {
        
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
    }

    a {
        color: $white;
        
        &:hover,
        &:active,
        &:focus {
            color: $hover;
            @include transition();
        }
    }
}


.contact-list {
    display: inline-block;
    text-align: left;
    align-self: center;
    margin-left: 2em;

    ul {
        display: flex;
        flex-direction: column;   
        font-weight: 400;
        font-size: 1.1em;
            margin-left: 1.4em;
    }

    li {
        list-style-type: none;
        color: $white;


        &::before {
            content: "•";
            color:$yellow;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
    }

    h1 {
        margin: 0;
        margin-bottom: .35em;
    }
}


.contactsSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}