.contacts {
    background: $bg-color;
    width: 100%;

    // background-image: url("/assets/img/big-logo.svg");
    // background-size: 100.5% ;
    // background-repeat: no-repeat;
    // position: center 0px;
    // background-position-x: -55em;
    // background-position-y: -55em;

    h1 {
        color: $yellow;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 2.1em;

        margin-top: 3em;
    }

    .flex-container {
        
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
    }

    a {
        color: $white;
        
        &:hover,
        &:active,
        &:focus {
            color: $hover;
            @include transition();
        }
    }
}


.contact-list {
    display: inline-block;
    text-align: left;
    align-self: center;
    margin-left: 2em;

    ul {
        display: flex;
        flex-direction: column;   
        font-weight: 400;
        font-size: 1.1em;
            margin-left: 1em;
    }

    li {
        list-style-type: none;
        color: $white;


        &::before {
            content: "•";
            color:$yellow;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
    }

    h1 {
        margin: 0;
        margin-bottom: .35em;
    }
}


.contactsSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em;

    span {
        font-size: .8em;
        font-weight: 300;
        margin-top: .85em;
        text-align: center;

        &:nth-of-type(2) {
            width: 90%;
        }

        a {
            color: lighten($yellow, 10%);
            font-weight: 500;

            &:hover {
                color: $hover;
                @include transition();
            }
        }
    }

    h1 {
        font-size: 1.2em;
        color: $almost-black;
        text-transform: uppercase;
        font-weight: 400;
    }

    p {
        width: 25em;
        
        font-weight: 300;
        font-size: .9em;
        margin-left: .1em;
        margin-top: .5em;
        margin-bottom: .5em;

        text-align: center;
    }

    form {
        input {
            background: darken($contact-button,8%);
            border-radius: .7em;
            // border: .05em solid lighten($almost-black, 30%);
            height: 2.1em;
            width: 14.75em;
            margin: .20em;
            padding: .2em;
            text-align: center;
            border: none;

            &:hover,
            &:active,
            &:focus {
                background-color: darken($contact-button, 10%);
                @include transition();
            }

            &:nth-child(7) {
                width: 25.80em;
                height: 10em;
            }

            &:nth-child(9) {
                width: 8em;
                height: 2.5em;
                margin-left: 11.5em;
                margin-top: .7em;

                cursor: pointer;

                &:hover,
                &:active {
                    background-color: $yellow;
                    color: $almost-black;
                    border: none;
                    @include transition();
                }

            }
        }

        textarea {
            margin-top: .2em;

            background: darken($contact-button,5%);
            border-radius: .7em;
            padding: 1em;

            width: 93%;
            height: 10em;
            resize:none;
            border: none;

            &:hover,
            &:active {
                background-color: darken($contact-button, 10%);
                color: $almost-black;
                @include transition();
            }
        }
    }
}
