footer {

    .flex-footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        gap: 4em;
        padding: 2.5em;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    h1 {
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: 300;
        color: rgb(190, 190, 190);
    }

    ul {
        list-style-type: none;
        font-size: .9em;

        li {
            color: $almost-black;
            padding: .1em 0em;
            

            a {
                text-decoration: none;
                color: darken(rgb(97, 97, 97), 5%);
            }
        }
    }
}

.foot-nav:hover,
.foot-contacts:hover,
.created-by:hover {
    h1 {
        font-weight: 300;
        color: darken($yellow, 5%);
        @include transition();
    }

    a {
        color: $white;
        @include transition();

        &:hover,
        &:active {
            color: $hover;
            @include transition();
            font-weight: 400;
        }
    }
}
