footer {
    background-color: $header-color;


    .flex-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;

        padding: 2.5em;
        margin-top: -.4em;
        background-color: $header-color;   
        margin-bottom: 0;
        
    }

    h1 {
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: 300;
        color: $yellow;
        margin-top: 2em;
    }

    ul {
        list-style-type: none;
        font-size: .9em;
        margin-bottom: 2.50em;

        li {
            color: $almost-black;
            padding: .1em 0em;
            

            a {
                text-decoration: none;
                color: darken($white, 5%);
            }
        }
    }
}

.foot-nav:hover,
.foot-contacts:hover,
.created-by:hover {

    a {
    

        &:hover,
        &:active {
            color: $yellow;
            @include transition();
            font-weight: 400;
        }
    }
}
