.gallery-main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90vh;
    margin-top: 3.7em;
    background: $contact-button;
    flex-direction: column;
    gap: .3em;

    h1 {
        text-transform: uppercase;
        font-weight: 300;
        color: lighten($almost-black,50%);
    }

    &:hover {
        
        h1 {
            color: lighten($almost-black,45%);
            @include transition();
        }
    }

}

.gallery {
    width: 105.9em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60%;
    flex-wrap: nowrap;
    
    
    img {

        width: 13em;
        opacity: .2;

        &:hover {
            opacity: 1;
            @include transition();
        }
    }
}

.images {
    background: lighten($almost-black, 38%);
    box-shadow: lighten($almost-black, 10%) 0 0 50em 1em;
    
    height: 26.44em;
    cursor: pointer;
}

.galleryModal {
    position: fixed;
    top: 3.7em;
    left: 0;
    z-index: 77777;
    background-color: transparentize($almost-black, .2);
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
  

    .modal-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;

        margin-top: 2%;
        font-size: 3em;
        padding: .1em;
        color: transparentize($almost-black, .5);

        i {
            cursor: pointer;
            &:hover {
                color: $hover;
                @include transition();
            }
        }
    }

    .modal-center {

        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 2%;

        i {
            font-size: 3em;
            color: lighten($almost-black, 35%);
            padding: 0 1em;
            cursor: pointer;

            &:hover {
                color: $hover;
            }
        }

        img {
            max-width: 80%;
            height: auto;
        }
    }

}