.container {
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
    font-family: $font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: $bg-color;
    background-image: url("/assets/img/bg-bager1.png");
    background-size: 115%;
    background-position-y: -20em;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}