header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 22222;
    // box-shadow: 0 0 5px darken($header-color, 5%);
    border-bottom: 1px solid darken($header-color, 3%);


    height: 3.70em;
    top: 0;

    background-color: rgba($header-color, .9);


    img {
    width: 9em;
    position: absolute;
    left: 13%;
    cursor: pointer;
    }
}