main {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7em;

    margin: 3em;
    margin-top: 5em;
    margin-bottom: 0;
    height: 50vh;
    position: relative;
}

.big-logo {

    height: auto;
    margin-left: .5em;
    
    img {
        max-width: 36.5em;
        height: auto;
        cursor: pointer;
    }
} 

.sidebar {

    height: 20em;

    display: flex;
    align-items: center;
    text-align: left;
    line-height: 1.8em;

    article {
        margin-top: 4.5em;
    }

    h1 {
        font-size: .9em;
        font-weight: 300;
        text-transform: uppercase;
        color: $yellow;
    }

    p {
        font-size: .9em;
        font-weight: 300;
        
    }

}

    .desc {
        width: 20em;
        color: $white;
    }
    
    // .contact-button {
    //     a {
    //         color: $almost-black;

    //         padding: .7em 1.4em;
    //         border-radius: 50em;
            
    //         background-color: $contact-button;    
            
    //         &:hover,
    //         &:active {
    //         background-color: $yellow;
    //         @include transition();
    //         }
    //     }
        
    //     margin-top: 2em;
    //     margin-left: 5em;
    // }  
    

