nav {
    display: flex;
    gap: 1.5em;

    ul {
        display: flex;
        margin-left: 44vw;
        
        font-weight: 400;
        align-items: center;
        justify-content: center;
    }

    li {
        list-style-type: none;
        font-size: .9em;

        a{
            color: $white; 
            padding: 1.35em 2em;
            
            &:hover,
            &:active {
            color: lighten($almost-black, 5%);
            font-weight: 400;
            background: $yellow;

            border-bottom: 1px solid darken($yellow, 5%);
            @include transition();
            }
    }

    .active {
        color: lighten($almost-black, 5%);
        border-bottom: 1px solid darken($yellow, 5%);
        background: $yellow;
    }
}
}

.hamburger,
.closemenu,
.hamburgermenu {
    display: none;
    @include transition();
}

@media screen and (max-width: 1055px) {
    nav {
        li {
            a {
            padding: 1.35em 1.7em;
        }
}
  
    }    
}


@media screen and (max-width: 1030px) {
    nav {
        li {
            a {
            padding: 1.35em 1.6em;
        }
}
  
    }    
}

@media screen and (max-width: 960px) {
    nav {

        ul {
            margin-left: 40vw;
        }

        li {
            a {
                padding: 1.35em 1.4em;
            }
        }
       
    }
}


@media screen and (max-width: 890px) {
    nav {

        ul {
            margin-left: 38vw;
        }

        li {
            a {
                padding: 1.35em 1.2em;
            }
        }
       
    }
}