@media screen and (max-width:1700px) {
    .boxes {
        gap: 3vw;
    }
}

@media screen and (max-width: 1600px) {
    
    main {
        gap: 6vw;
    }

    iframe {
        max-width: 832px;
    }
}


@media screen and (max-width: 1550px) {
    .boxes {
        gap: 2vw;
    }
}

@media screen and (max-width:1380px) {
    main {
        .big-logo img {
            max-width: 30em;
        }
    }

    iframe {
        max-width: 770px;
    }

    .contact-list {
        margin-left: 0;
    }
}

@media screen and (max-width: 1250px) {

    main {
    
        margin-bottom: 8em;


        .big-logo img {
            max-width: 27em;
        }
    }


    iframe {
        max-width: 690px;
    }

    .sidebar {
        margin-top: 2.5em;
    }

}

@media screen and (max-width:1200px) {

    .boxes {
        .small-box {
            width: 19em;
        }
    }
}

@media screen and (max-width:1170px) {
    main {
        flex-direction: column;
        align-items: center;
        margin-top: 8em;

        .big-logo img {
            max-width: 33em;
        }
    }
    
    .sidebar {
        margin: 0;

        h1 {
            // text-align: center;
        }
    }

 
    .desc p {
        // text-align: center;
        margin-top: .5em;
        line-height: 2em;
    }

    iframe {
        max-width: 590px;
    }

    .boxes {
        .small-box {
            text-align: left;
        }
    }

    .services {

        #serviceAnchor {
            margin-bottom: 5em;
        }
    }
}

@media screen and (max-width:1050px) {
    header img {
        left: 5%;
    }

    header ul {
        margin-left: 35vw ;
    }
}

@media screen and (max-width:1000px) {
    
    .boxes {
        gap: 1vw;
        flex-direction: column;
        align-items: center;

    
        .small-box {
            margin-bottom: 0;
            width: 95%;

            &:last-child {
                margin-bottom: 5em;
            }
        }
    }

    iframe {
        max-width: 490px;
    }

    main {
        margin-bottom: 5em;
    }

    .services {

        background-attachment: fixed;

        .services-list {
            flex-direction: column;
            gap: 5em;
    }

    .right-side {
        padding: 0;
    }
    }


}

@media screen and (max-width:950px) {
    iframe {
        max-width: 490px;
    }
}

@media screen and (max-width:920px) {

    header ul {
        margin-left: 30vw ;
    }
}

@media screen and (max-width: 870px) {
    nav {
        display: none;
    }

    .hamburger {

        .menuicon,
        .closemenu {
            background: none;
            border: none;
            font-size: 2em;
            color: $almost-black;

            &:hover,
            &:active,
            &:focus {
                color: $hover;
            }
        }

    }

    .hamburger {
        display: block;
        position: absolute;
        right: 5vw;
    }

    .hamburgermenu {
        background-color: darken($bg-color, 10%);
        width: 100%;
        position: fixed;
        top: 3.65em;
        display: none;


        ul {
            margin: 2em;
            list-style-type: none;

            li {

                a {
                    color: darken($white, 5%);
                    font-weight: 300;
                    
                &:hover,
                &:active,
                &:focus {
                    color: $hover;
                }
                }

               
            }
        }
    }

    .services {
        background-size: 180%;
    }

}

@media screen and (max-width:850px) {
    .contacts {


        .flex-container {
            flex-direction: column;
        }

        .contact-list {
            margin: 5em;
        }
    }

    iframe {
        max-width: 100%;
    }
}

@media screen and (max-width:720px) {

    footer {
        .flex-footer {
            display: flex;
            flex-direction: column;
            gap: 0;
        }

    }
}

@media screen and (max-width:640px) {
    .sidebar article {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 250px;
        margin-top: 1em;
    }

    .desc {
        display: none;
    }

    .sidebar {
        h1 {
            text-align: center;
        }
    }
.contactsSection {
    .contact-list {
        padding: 0;
        margin-left: -3em;
    }
}

    main {
        margin-bottom: 3em;
    }
}

