@media screen and (max-width:1700px) {
    .boxes {
        gap: 3vw;
    }

    main {
        gap: 5vw;
    }
}

@media screen and (max-width: 1600px) {
    
    iframe {
        max-width: 832px;
    }
}


@media screen and (max-width: 1550px) {
    .boxes {
        gap: 2vw;
    }

    main {
        gap: 3vw;
    }

}

@media screen and (max-width:1380px) {
    main {
        .big-logo img {
            max-width: 30em;
        }
    }

    iframe {
        max-width: 770px;
    }

    .contact-list {
        margin-left: 0;
    }
}

@media screen and (max-width: 1250px) {

    main {
    
        margin-bottom: 8em;


        .big-logo img {
            max-width: 27em;
        }
    }


    iframe {
        max-width: 690px;
    }

    .sidebar {
        margin-top: 2.5em;
    }

}

@media screen and (max-width:1200px) {

    .boxes {
        .small-box {
            width: 19em;
        }
    }
}

@media screen and (max-width:1170px) {
    main {
        flex-direction: column;
        align-items: center;
        margin-top: 8em;

        .big-logo img {
            max-width: 33em;
        }
    }
    
    .sidebar {
        margin: 0;

        h1 {
            // text-align: center;
        }
    }

 
    .desc p {
        // text-align: center;
        margin-top: .5em;
        line-height: 2em;
    }

    iframe {
        max-width: 590px;
    }

    .boxes {
        .small-box {
            text-align: left;
        }
    }

    .services {
        background-image: none;

        #serviceAnchor {
            margin-bottom: 5em;
        }
    }
}

@media screen and (max-width:1100px) {
    .cennik {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;

        ul {
            justify-self: center;
            padding-left: 3.5em;
            width: 95%;
        }

        .contact-form {
            align-self: center;
        }
    }

    .cennikMain {
        align-items: flex-start;
    }
}


@media screen and (max-width:1050px) {
    header img {
        left: 5%;
    }

    header ul {
        margin-left: 35vw ;
    }
}

@media screen and (max-width:1000px) {
    
    .boxes {
        gap: 2vw;
        flex-direction: column;
        align-items: center;

    
        .small-box {
            margin-bottom: 0;
            width: 95%;

            &:last-child {
                margin-bottom: 5em;
            }
        }
    }

    iframe {
        max-width: 490px;
    }

    main {
        margin-bottom: 5em;
    }

    .services {

        background-attachment: fixed;

        .services-list {
            flex-direction: column;
            gap: 5em;
    }

    .right-side {
        padding: 0;
    }
    }


}

@media screen and (max-width:950px) {
    iframe {
        max-width: 490px;
    }
}

@media screen and (max-width:920px) {

    header ul {
        margin-left: 30vw ;
    }
}

@media screen and (max-width: 870px) {
    nav {
        display: none;
    }

    .cennik {
        width: 100%;
    }

    .hamburger {

        .menuicon,
        .closemenu {
            background: none;
            border: none;
            font-size: 2em;
            color: $yellow;

            &:hover,
            &:active,
            &:focus {
                color: $hover;
            }
        }

    }

    .headingbox {

        h1 {
            padding: 1em 0 1em 10vw;
        }
    }

    .sluzbyMain {
        grid-template-columns: 1fr;
        gap: 6%;
        max-width: 100%;
    }

    #PriceListAnchor {
        margin-top: 3em;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 5vw;
    }

    .hamburgermenu {
        background-color: darken($bg-color, 10%);
        width: 100%;
        position: fixed;
        top: 3.65em;
        display: none;


        ul {
            margin: 2em;
            list-style-type: none;

            li {

                a {
                    color: darken($white, 5%);
                    font-weight: 300;
                    
                &:hover,
                &:active,
                &:focus {
                    color: $hover;
                }
                }

               
            }
        }
    }

    .services {
        background-size: 180%;

        .services-list {
            width: 70%;
            margin-top: 5em;
        }
    }

    .stroje {
        margin: 2em;
    }

}

@media screen and (max-width:850px) {
    .contacts {


        .flex-container {
            flex-direction: column;
        }

        .contact-list {
            margin: 5em;
        }
    }

    iframe {
        max-width: 100%;
    }
}

@media screen and (max-width:720px) {

    footer {
        .flex-footer {
            display: flex;
            flex-direction: column;
            gap: 0;
        }

    }
}

@media screen and (max-width:660px) {
    #PriceListAnchor {
        margin-top: 5em;
    }

    .stroje-main .stroje .stroje-box {
       
            flex-direction: column;
            align-items: center;
            justify-content: center;

            ul {
                width: 100%;
                margin: 1em;
                padding: 2em;
            }
        }
}


@media screen and (max-width:640px) {
    .sidebar article {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 250px;
        margin-top: 1em;
    }

    .desc {
        display: none;
    }

    .sidebar {
        h1 {
            text-align: center; 
            display: none;
        }
    }
    .contactsSection {

        justify-content: flex-start;

        .contact-list {
            padding: 0;
    }
}

    main {
        margin-bottom: 3em;
    }

    .services {
        .services-list {
        margin-top: 4em;

        .left-side, .right-side {
            width: 98%;
        }
        
    }
    }

    .boxes {
        gap: 5vw;
    }

}

@media screen and (max-width:490px) {
    .cennik {

        span {
            margin: 1em 0 1.5em 0;
        }

        .contact-form {
            width: 21em;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;

                br {
                    display: none;
                }

                select, input {
                    width: 24.7em;
                }

                input:nth-child(9) {
                    margin-left: 0;
                    width: 15em;
                }
            }

        }
    }


}

@media screen and (max-width:600px) {
    .sluzby-podstranka {
        margin: 2em;
    }


    .cennikMain {

        .cennik {
            
            ul {
                padding: 0 2em;
            }
        }
    }

    #PriceListAnchor {
        margin-bottom: 2em;
    }
}

@media screen and (max-width:450px) {
    
    .boxes {

        .small-box {

            width: 84%;
        }
    }

    .contactsSection {
        
        .contact-list {
            margin-left: 4em;
        }
    }

    footer {

        .flex-footer {
            padding: 2em;
        }
    }
}

@media screen and (max-width:405px) {

    .contacts {

    .contact-list {
        margin: 0;
        width: 100%;
        margin: 3.5em;
    }
    }

    #PriceListAnchor {
        margin-top: 5.5em;
    }

}

@media screen and (max-width:350px) {

    .cennik {

        .contact-form {
            width: 18em;
        }
    }

}

@media screen and (max-width:330px) {
    
    #PriceListAnchor {
        margin-top: 7em;
    }
}
