.services {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: auto;

    // text-shadow: darken($almost-black, 10%) 0 0 1em;
    
    background-color: $header-color;
    background-image: url("/assets/img/big-logo.svg");
    background-size: 100.5% ;
    background-repeat: no-repeat;
    position: center 0px;


    h1 {
        color: $yellow;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 300;
    }

    .services-title {
        margin-top: 4em;
        margin-bottom: 1.5em;
        font-size: 2em;
    }

    .services-list {
        display: flex;
        margin-top: 3em;
        margin-bottom: 15em;
        gap: 10em;
        width: 60vw;
        line-height: 1.7em;

        color: $white;
        font-weight: 300;
        text-align: left;


        a {
            text-decoration: none;
            color: $yellow;
            
            &:hover,
            &:active,
            &:target {
                color: $hover;
                @include transition();
            }
        }
    }

}
