.services {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 45em;

    // text-shadow: darken($almost-black, 10%) 0 0 1em;
    
    background-color: lighten($header-color, 8%);
    background-image: url("/assets/img/big-logo.svg");
    background-size: 100.5% ;
    background-repeat: no-repeat;
    position: center 0px;

    
    span {
        color: darken(white, 15%);
        font-weight: 300;
        width: 60%;
        margin-top: 3em;
        text-align: center;
        font-size: 1.2em;

        &:nth-child(4) {
            margin: 1.5em;
        }
    }


    h1 {
        color: darken($yellow, 7.5%);
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 300;
    }

    .services-title {
        margin-top: 3em;
        margin-bottom: 1.5em;
        font-size: 2em;
    }

    .services-list {
        display: flex;
        margin-top: 3em;
        gap: 10em;
        width: 60vw;
        line-height: 1.7em;

        color: $white;
        font-weight: 300;
        font-size: .95em;
        text-align: left;


        a {
            text-decoration: none;
            color: $yellow;
            
            &:hover,
            &:active,
            &:target {
                color: $hover;
            }
        }
    }
}

.left-side,
.right-side {
    h1 {
        color: darken($yellow, 10%);
    }
}