.stroje-main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background: $contact-button;
    padding: 4em 0 7em 0;

    .stroje {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;

        margin-top: 3em;

        h2 {
            font-weight: 300;
            margin: .8em;
        }

        img {
            max-width: 38em;
            min-width: 10em;
            height: auto;
        }

        .stroje-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: darken($contact-button, 5%);
            margin-bottom: .5em;
            opacity: .8;
            

            border: 2px solid darken($contact-button, 8%);

            &:hover,
            &:active {
                opacity: 1;
                @include transition();
            }
            

            ul {
                width: 50%;
                font-size: 1em;
                list-style-type: none;
                margin: .5em 0 3em 1.5em;
                padding: 1em;
                
                

                span {
                    color: $almost-black;
                    font-size: 1.7em;
                    font-weight: 500;
                }
                
            }
        }

    }


}
