$header-color: #555555;
$bg-color: #696969;
$white: aliceblue;
$contact-button: #C9C9C9;
$yellow: #FEDD00;
$sidebar-color: #eeeeee09;
$almost-black: #212121;
$small-box:#B2B2B2;
$hover: $yellow;

$font: 'Poppins', sans-serif;
