.container {
  width: 100vw; }

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif; }

body {
  background-color: #585858; }

a {
  text-decoration: none; }

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.70em;
  background-color: #434343; }
  header img {
    width: 10em;
    position: absolute;
    left: 8%; }

nav {
  display: flex;
  gap: 1.5em; }
  nav li {
    list-style-type: none;
    font-size: .75em; }
    nav li a {
      color: aliceblue; }
      nav li a:hover, nav li a:active {
        color: #FEDD00;
        transition: all .3s ease-in-out; }

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5em;
  margin: 3em;
  margin-top: 6em;
  margin-bottom: 0; }

.big-logo {
  width: 67%;
  height: auto;
  margin-left: 13.5vw; }
  .big-logo img {
    max-width: 38em;
    height: auto; }

.sidebar {
  width: 80%;
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left; }
  .sidebar article {
    margin-top: 3em; }
  .sidebar h1 {
    font-size: .9em;
    font-weight: 300;
    text-transform: uppercase;
    color: #FEDD00; }

.desc {
  width: 65%;
  color: aliceblue; }

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-top: 3em; }
  .boxes .small-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
    height: 15em;
    background-color: #4343439f;
    margin-bottom: 3em; }
    .boxes .small-box img {
      width: 13%;
      margin-top: -1em; }
    .boxes .small-box a {
      color: aliceblue;
      margin-top: 4.5em;
      font-size: 1.1em; }
      .boxes .small-box a:hover, .boxes .small-box a:active {
        color: #FEDD00;
        transition: all .3s ease-in-out; }
  .boxes .small-box:nth-child(3) img {
    width: 10%; }

.services {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40em;
  background-color: #434343; }
  .services h1 {
    color: #FEDD00;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300; }
  .services li {
    list-style-type: none; }

.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: #C9C9C9; }

.contact-list h1 {
  text-transform: uppercase;
  color: #FEDD00;
  font-size: .9em;
  font-weight: 300; }

.contact-form h1 {
  font-size: .9em;
  color: #FEDD00;
  text-transform: uppercase;
  font-weight: 300; }
.contact-form form input {
  background: #bcbcbc;
  border-radius: .7em;
  border: 0.05em solid #6e6e6e;
  height: 2.1em;
  margin: .20em;
  padding: .2em;
  text-align: center; }
  .contact-form form input:nth-child(7) {
    width: 25.80em;
    height: 10em; }
  .contact-form form input:nth-child(9) {
    width: 8em;
    height: 2.5em;
    margin-left: 35%; }

@media screen and (max-width: 1100px) {
  main {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    main .big-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2em; }
      main .big-logo img {
        width: 50%; }

  .sidebar {
    margin: 0;
    height: 18em; }
    .sidebar h1 {
      margin-top: 0; }

  .boxes {
    margin-top: 2em;
    gap: .8em; }
    .boxes .small-box {
      height: 12em;
      margin-bottom: 1em; } }

/*# sourceMappingURL=styles.css.map */
