.container {
  width: 100vw; }

.container {
  width: 100vw; }

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #585858;
  background-image: url("/assets/img/"); }

a {
  text-decoration: none; }

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 22222;
  box-shadow: 0 0 0.5em #353535;
  height: 3.70em;
  top: 0;
  background-color: rgba(67, 67, 67, 0.8); }
  header img {
    width: 9em;
    position: absolute;
    left: 13%;
    cursor: pointer; }

nav {
  display: flex;
  gap: 1.5em; }
  nav ul {
    display: flex;
    gap: 1.2em;
    font-weight: 300;
    align-items: center;
    justify-content: center; }
  nav li {
    list-style-type: none;
    font-size: .75em; }
    nav li a {
      color: aliceblue; }
      nav li a:hover, nav li a:active {
        color: #0AAEF3;
        transition: all .3s ease-in-out; }
    nav li .active {
      color: #FEDD00; }

.hamburger,
.closemenu,
.hamburgermenu {
  display: none;
  transition: all .3s ease-in-out; }

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7em;
  margin: 3em;
  margin-top: 5em;
  margin-bottom: 0;
  height: 50vh;
  position: relative; }

.big-logo {
  height: auto;
  margin-left: .5em; }
  .big-logo img {
    max-width: 36.5em;
    height: auto;
    cursor: pointer; }

.sidebar {
  height: 20em;
  display: flex;
  align-items: center;
  text-align: left;
  line-height: 1.4em; }
  .sidebar article {
    margin-top: 4.5em; }
  .sidebar h1 {
    font-size: .9em;
    font-weight: 300;
    text-transform: uppercase;
    color: #FEDD00; }
  .sidebar p {
    font-size: .9em;
    font-weight: 300; }

.desc {
  width: 20em;
  color: aliceblue; }

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 3em; }
  .boxes .small-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-duration: .7s;
    position: relative;
    box-shadow: 0 0 1em #515151;
    width: 20em;
    height: 15em;
    background-color: #4343439f;
    margin-bottom: 3em; }
    .boxes .small-box:nth-of-type(2) {
      animation-duration: .8s; }
    .boxes .small-box:nth-of-type(3) {
      animation-duration: .9s; }
    .boxes .small-box .icon {
      text-align: center;
      margin-top: -1.2em;
      background-color: #585858;
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em; }
    .boxes .small-box i {
      font-size: 2.57em;
      color: #cacaca;
      text-shadow: 0 0 0.4em #141414; }
    .boxes .small-box h1 {
      font-size: 1.1em;
      color: #FEDD00;
      font-weight: 500;
      margin-top: 1.1em; }
    .boxes .small-box p {
      color: aliceblue;
      font-weight: 300;
      text-align: center;
      padding: 2em;
      font-size: .85em; }
  .boxes .small-box:nth-child(3) img {
    width: 10%; }

.contacts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 43em;
  background: #C9C9C9; }
  .contacts h1 {
    color: #212121;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 3em; }
  .contacts .flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 15em;
    margin-top: 3em;
    height: 100%; }

a {
  color: #212121; }
  a:hover, a:active, a:focus {
    color: #0AAEF3;
    transition: all .3s ease-in-out; }

.contact-list ul {
  display: flex;
  flex-direction: column;
  margin-top: .5em;
  font-weight: 400; }
.contact-list li {
  list-style-type: none;
  color: #3b3b3b; }

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30em; }
  .contact-form span {
    font-size: .8em;
    font-weight: 300;
    margin-top: .85em;
    text-align: center; }
    .contact-form span:nth-of-type(2) {
      width: 90%; }
    .contact-form span a {
      color: #ffe432;
      font-weight: 500; }
      .contact-form span a:hover {
        color: #0AAEF3;
        transition: all .3s ease-in-out; }
  .contact-form h1 {
    font-size: 1.2em;
    color: #212121;
    text-transform: uppercase;
    font-weight: 400; }
  .contact-form p {
    width: 25em;
    font-weight: 300;
    font-size: .9em;
    margin-left: .1em;
    margin-top: .5em;
    margin-bottom: .5em;
    text-align: center; }
  .contact-form form input {
    background: #b5b5b5;
    border-radius: .7em;
    height: 2.1em;
    width: 14.75em;
    margin: .20em;
    padding: .2em;
    text-align: center;
    border: none; }
    .contact-form form input:hover, .contact-form form input:active, .contact-form form input:focus {
      background-color: #b0b0b0;
      transition: all .3s ease-in-out; }
    .contact-form form input:nth-child(7) {
      width: 25.80em;
      height: 10em; }
    .contact-form form input:nth-child(9) {
      width: 8em;
      height: 2.5em;
      margin-left: 11.5em;
      margin-top: .7em;
      cursor: pointer; }
      .contact-form form input:nth-child(9):hover, .contact-form form input:nth-child(9):active {
        background-color: #FEDD00;
        color: #212121;
        border: none;
        transition: all .3s ease-in-out; }
  .contact-form form textarea {
    margin-top: .2em;
    background: #bcbcbc;
    border-radius: .7em;
    padding: 1em;
    width: 93%;
    height: 10em;
    resize: none;
    border: none; }
    .contact-form form textarea:hover, .contact-form form textarea:active {
      background-color: #b0b0b0;
      color: #212121;
      transition: all .3s ease-in-out; }

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45em;
  background-color: #434343;
  background-image: url("/assets/img/big-logo.svg");
  background-size: 100.5%;
  background-repeat: no-repeat;
  position: center 0px; }
  .services h1 {
    color: #FEDD00;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300; }
  .services .services-title {
    margin-top: 3em;
    margin-bottom: 1.5em;
    font-size: 2em; }
  .services .services-list {
    display: flex;
    margin-top: 3em;
    gap: 10em;
    width: 60vw;
    line-height: 1.7em;
    color: aliceblue;
    font-weight: 300;
    font-size: .95em;
    text-align: left; }
    .services .services-list a {
      text-decoration: none;
      color: #FEDD00; }
      .services .services-list a:hover, .services .services-list a:active, .services .services-list a:target {
        color: #0AAEF3; }

.gallery-main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90vh;
  margin-top: 3.7em;
  background: #C9C9C9;
  flex-direction: column;
  gap: .3em; }
  .gallery-main h1 {
    text-transform: uppercase;
    font-weight: 300;
    color: #a1a1a1; }
  .gallery-main:hover h1 {
    color: #949494;
    transition: all .3s ease-in-out; }

.gallery {
  width: 105.9em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60%;
  flex-wrap: nowrap; }
  .gallery img {
    width: 13em;
    opacity: .2; }
    .gallery img:hover {
      opacity: 1;
      transition: all .3s ease-in-out; }

.images {
  background: #828282;
  box-shadow: #3b3b3b 0 0 50em 1em;
  height: 26.44em;
  cursor: pointer; }

.galleryModal {
  position: fixed;
  top: 3.7em;
  left: 0;
  z-index: 77777;
  background-color: rgba(33, 33, 33, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .galleryModal .modal-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    margin-top: 2%;
    font-size: 3em;
    padding: .1em;
    color: rgba(33, 33, 33, 0.5); }
    .galleryModal .modal-top i {
      cursor: pointer; }
      .galleryModal .modal-top i:hover {
        color: #0AAEF3;
        transition: all .3s ease-in-out; }
  .galleryModal .modal-center {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 2%; }
    .galleryModal .modal-center i {
      font-size: 3em;
      color: #7a7a7a;
      padding: 0 1em;
      cursor: pointer; }
      .galleryModal .modal-center i:hover {
        color: #0AAEF3; }
    .galleryModal .modal-center img {
      max-width: 80%;
      height: auto; }

footer .flex-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 4em;
  padding: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
footer h1 {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 300;
  color: gray; }
footer ul {
  list-style-type: none;
  font-size: .9em; }
  footer ul li {
    color: #2e2e2e;
    padding: .1em 0em; }
    footer ul li a {
      text-decoration: none;
      color: #737373; }

.foot-nav:hover h1,
.foot-contacts:hover h1,
.created-by:hover h1 {
  color: #e5c700;
  transition: all .3s ease-in-out; }
.foot-nav:hover a,
.foot-contacts:hover a,
.created-by:hover a {
  color: aliceblue;
  transition: all .3s ease-in-out; }
  .foot-nav:hover a:hover, .foot-nav:hover a:active,
  .foot-contacts:hover a:hover,
  .foot-contacts:hover a:active,
  .created-by:hover a:hover,
  .created-by:hover a:active {
    color: #0AAEF3;
    transition: all .3s ease-in-out;
    font-weight: 400; }

@media screen and (max-width: 1100px) {
  main {
    margin-top: 2em;
    padding: 2em; }
    main img {
      width: 100%; } }
@media screen and (max-width: 1041px) {
  main {
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0;
    margin-top: 13%;
    align-items: center;
    justify-content: center; }
    main img {
      width: 400px; }
    main .sidebar {
      width: 100%;
      align-items: center;
      justify-content: center; }
      main .sidebar .desc {
        width: 60vw;
        text-align: center; }
      main .sidebar article {
        text-align: center;
        margin: 0; }

  .boxes {
    gap: .5%;
    margin-top: 0; } }
@media screen and (max-width: 981px) {
  .nav-logo {
    left: 5%; }

  .big-logo {
    margin-top: 3em; }

  .boxes {
    width: 90%;
    margin: 0; }

  .articlebox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em; }

  .sidebar {
    margin: 2em;
    margin-bottom: 3em; }
    .sidebar article {
      flex-direction: column; }

  .services {
    margin: 0;
    padding: 0;
    background-size: 130%; }
    .services .services-list {
      flex-direction: column;
      gap: 3vh;
      align-self: flex-start;
      margin-left: 15vw; }

  .contacts .flex-container {
    justify-content: center;
    gap: 2em; }
  .contacts .contact-form {
    margin-right: -8vw; } }
@media screen and (max-width: 750px) {
  nav {
    display: none; }

  .hamburger .menuicon,
  .hamburger .closemenu {
    background: none;
    border: none;
    font-size: 2em;
    color: #212121; }
    .hamburger .menuicon:hover, .hamburger .menuicon:active, .hamburger .menuicon:focus,
    .hamburger .closemenu:hover,
    .hamburger .closemenu:active,
    .hamburger .closemenu:focus {
      color: #0AAEF3; }

  .hamburger {
    display: block;
    position: absolute;
    right: 5vw; }

  .hamburgermenu {
    background-color: #3f3f3f;
    width: 100%;
    position: fixed;
    top: 3.65em;
    display: none; }
    .hamburgermenu ul {
      margin: 2em;
      list-style-type: none; }
      .hamburgermenu ul li a {
        color: #d7ecff;
        font-weight: 300; }
        .hamburgermenu ul li a:hover, .hamburgermenu ul li a:active, .hamburgermenu ul li a:focus {
          color: #0AAEF3; }

  .services {
    background-size: 180%; } }

/*# sourceMappingURL=styles.css.map */
